    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background: url('../images/etc/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }

    body {
        position: relative;
    }
    
    header {
        .logo {
            width: 70px;
        }
        .navbar-default {
            padding-top: 10px;
            background-color: transparent;
            border: none;
        }
        .navbar-nav li a {
            padding: 15px 15px;
        }
        // .navbar-brand {
        //     padding-top: 0px;
        // }
        h3 {
            color: white;
            margin-top: 0px;
        }
        z-index: 100000;
    }
    
    .dark-nav {
        ul li h3 {
            color: $pdm-red;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            /* ...and now for the proper property */
            transition: .5s;
        }
        #main-logo {
            width: 300px;
            padding-top: 5px;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
    }
    
    .light-nav {
        ul li h3 {
            color: white;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            /* ...and now for the proper property */
            transition: .5s;
        }
        #main-logo {
            width: 70px;
            padding-top: 0px;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
    }
    
    #featured .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
    }
    
    #fullpage .section .slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
    }
    
    header .navbar-default {
        padding-top: 10px;
        background-color: transparent;
        border: none;
    }
    
    header .navbar-nav li a {
        padding: 15px 15px;
    }
    
    header h3 {
        color: white;
        margin-top: 0px;
    }
    
    #featured .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
    }
    
    // Overlay
    #overlay-back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10000;
        display: none;
    }
    
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000000;
        display: none;
        color: white;
    }
    
    // Section Video
    /* Layer with position absolute in order to have it over the video
    * --------------------------------------- */
    /* Centered texts in each section
    * --------------------------------------- */
    
    .section {
        text-align: center;
        overflow: hidden;
    }
    
    #intro-video {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black;
        /* in case the video doesn't fit the whole page*/
        /*background-image:  our video  ;*/
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        /*cover video background */
        z-index: 3;
    }
    
    #section-video {
        /*solves problem with overflowing video in Mac with Chrome */
        overflow: hidden;
        // darken video
        background-color: black;
        video {
            opacity: 0.5;
        }
        .layer {
            position: absolute;
            z-index: 4;
            width: 100%;
            left: 0;
            top: 25%;
            h1 {
                font-size: 96px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
                color: #fff;
                margin: 0;
                padding: 0;
            }
            h2 {
                color: white;
                font-family: 'Roboto Slad', serif;
                font-size: 22px;
                font-weight: 100;
                margin-top: 20px;
                margin-bottom: 100px;
            }
            h3 {
                color: white;
                font-size: 30px;
            }
        }
        .blayer {
            position: absolute;
            z-index: 5;
            width: 100%;
            left: 0;
            top: 90%;
            h3 {
                color: white;
                font-size: 40px;
            }
        }
        .mask {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: black;
        }
    }
    
    .carousel-caption {
        position: relative;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        padding-top: 50px;
        padding-bottom: 50px;
        img {
            height: 30px;
            margin-bottom: 30px;
        }
        h3 {
            color: white;
            font-family: 'Roboto Condensed', serif;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .vcs {
            border: 1px solid white;
            display: inline-block;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            p {
                padding: 6px 15px 0px 15px
            }
        }
    }
    
    .nonslide {
        article {
            margin-top: 100px;
        }
        .title {
            color: $pdm-red;
            font-size: 16px;
            font-family: 'Roboto Condensed', serif;
            font-weight: 700;
            letter-spacing: 3px;
        }
        .line {
            bottom: 0;
            left: 100%;
            width: 20px;
            height: 1px;
            margin: 0 auto;
            // transform: translateX(0px);
            background-color: $pdm-red;
            line-height: 0;
            font-size: 0;
        }
        .heading {
            margin-top: 45px;
        }
        p {
            width: 90%;
            margin: auto;
            margin-top: 80px;
            font-size: 18px;
            // text-align: justify;
            font-family: 'Roboto Slab', serif;
            font-weight: 300;
        }
        .row {
            margin-top: 30px;
        }
        .last-row {
            margin-bottom: 60px;
        }
        .colitem {
            font-size: 20px;
            font-family: 'Roboto Slab', serif;
            font-weight: 300;
            margin-top: 40px;
        }
        .embed-responsive-item {
            margin-top: 80px;
        }
        .contact-tel {
            margin-top: 40px;
        }
        .contact-item {
            margin-top: 50px;
            padding: 0px;
        }
        .contact-item .well {
            display: inline-block;
            border-color: black;
            background: transparent;
            padding: 10px 25px 10px 25px;
            font-size: 17px;
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
        }
        .contact-item .second {
            margin-left: 50px;
        }
        .slidevideo {
            margin-top: 20px;
        }
    }
    
    .no-h-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    .client-logo {
        height: 50px;
        margin-bottom: 40px;
    }
    
    .award-logo {
        height: 120px;
        margin-bottom: 40px;
    }
    
    #team {
        background: url('../images/bg/gray-background.gif') repeat 0 0;
        background-color: rgba(0, 0, 0, 0.05);
        .row h1,
        h2 {
            font-size: 15px;
            // text-align: justify;
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
        }
        .row h1 {
            margin-top: 25px;
            margin-bottom: 0px;
        }
        .row h2 {
            margin-top: 5px;
        }
        img {
            height: 200px;
        }
    }
    
    #map {
        background-color: #CCC;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 40px;
    }
    
    .office {
        h1 {
            font-size: 20px;
            // text-align: justify;
            font-family: 'Roboto Condensed', serif;
            font-weight: 700;
        }
        h3 {
            margin-top: 40px;
            font-size: 15px;
            // text-align: justify;
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
        }
        .direction {
            display: inline-block;
            font-style: italic;
            padding-bottom: 5px;
            margin-top: 35px;
            margin-bottom: 60px;
            border-bottom: 1px $pdm-red dotted;
        }
    }
    
    #footer {
        color: white;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1px 50px 20px 50px;
    }
    
    .contact {
        text-align: left;
        font-family: 'Roboto Slab', serif;
        .logo {
            height: 20px;
        }
        h2,
        h3,
        h4 {
            font-size: 15px;
            font-weight: 300;
            margin: 0px;
            padding: 0px;
        }
        .addr1 {
            padding-top: 40px;
        }
        .addr2 {
            padding-top: 10px;
            padding-bottom: 50px;
        }
        .tel {
            padding-bottom: 20px;
        }
        .well {
            font-size: 25px;
            font-weight: 100;
            font-style: italic;
            display: inline-block;
            background: transparent;
            padding: 10px 50px 10px 50px;
            margin-bottom: 90px;
        }
        .copyright {
            font-size: 11px;
        }
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .modal-body {
        padding-top: 0px;
        .contact,
        {
            padding-top: 0px;
            margin-top: 0px;
            color: white;
            text-align: right;
            .close-icon {
                font-size: 40px;
            }
            .well {
                margin-top: 90px;
                margin-bottom: 20px;
            }
            .career {
                margin-bottom: 20px;
            }
            padding-right: 50px;
        }
        .message {
            text-align: left;
            h1 {
                font-family: "Roboto Condensed", sans-serif;
                font-size: 60px;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 50px;
            }
            h3,
            h4 {
                font-family: "Roboto Slab", sans-serif;
                font-size: 18px;
                font-weight: 100;
            }
            h4 {
                margin-top: 50px;
            }
            ul {
                list-style: none;
                padding: 0;
            }
            input {
                font-size: 30px;
                height: 50px;
                margin: 0;
                margin-bottom: 10px;
                padding: 0;
                color: white;
                border: none;
                background-color: transparent;
                box-shadow: none;
            }
            .questions {
                margin-bottom: 50px;
                label {
                    font-size: 20px;
                    font-weight: 100;
                    margin-bottom: 10px;
                }
            }
            .ulinput {
                margin-top: 40px;
                border-bottom: 1px solid white;
                margin-bottom: 50px;
            }
            textarea {
                border-radius: 0px;
                background-color: rgba(0, 0, 0, 0.5);
                font-size: 20px;
                font-family: 'Roboto Slab', sans-serif;
                font-weight: 300;
                // font-style: italic;
                box-shadow: none;
                border: 1px solid white;
                color: white;
                padding: 20px;
                margin-bottom: 50px;
                float: left;
                width: 70%;
            }
            .btn {
                margin-left: 40px;
                width: 100px;
                border-radius: 0;
                background-color: transparent;
                border: none;
                border: 1px solid white;
                color: white;
            }
            .buttons {
                margin-top: 50px;
                .well {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 100;
                    font-style: italic;
                    display: inline-block;
                    background: transparent;
                    padding: 10px 25px 10px 25px;
                    margin-right: 20px;
                    min-width: 200px;
                    letter-spacing: 2px;
                }
            }
        }
        .case-studies {
            padding-left: 50px;
            h1,
            li {
                font-size: 60px;
                // text-align: justify;
                font-family: 'Roboto Slab', serif;
                font-weight: 300;
            }
            h3 {
                margin-top: 60px;
                margin-left: 30px;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 3px;
            }
            ul {
                margin-left: 30px;
                margin-top: 25px;
                padding: 0px;
                list-style: none;
            }
            li {
                margin-bottom: 40px;
            }
        }
    }
    
    .social-media {
        text-align: right;
        font-size: 25px;
        li {
            display: inline-block;
            list-style-type: none;
        }
        li:not(:last-child) {
            margin-right: 15px;
        }
        margin-top: 10px;
        padding-right: 20px;
    }
    
    video,
    #start,
    #stop,
    #pause,
    #plus,
    #minus,
    #mute {
        /* background color */
        background-color: #ffcccc;
        /* background gradient */
        background-image: linear-gradient(top, #fff, #fcc);
        background-image: -moz-linear-gradient(top, #fff, #fcc);
        background-image: -webkit-linear-gradient(top, #fff, #fcc);
        background-image: -o-linear-gradient(top, #fff, #fcc);
        background-image: -ms-linear-gradient(top, #fff, #fcc);
    }
    
    // Modal
    body .modal-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    
    .modal {
        /* ... */
        overflow-y: scroll;
    }
    
    .modal-backdrop {
        opacity: 0.95 !important;
        // 
    }
    
    .bg-pdmred {
        background-color: $pdm-red;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        /* ...and now for the proper property */
        transition: .5s;
    }
    
    .modal-dialog {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        margin-top: 20px;
        .modal-content {
            background-color: transparent;
            color: white;
            border: none;
            width: 100%;
            margin: 0 auto;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
