header .logo {
  width: 70px;
}
header .navbar-default {
  padding-top: 10px;
  background-color: transparent;
  border: none;
}
header .navbar-nav li a {
  padding: 15px 15px;
}
header h3 {
  color: white;
  margin-top: 0px;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#fullpage .section .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

header .logo {
  width: 70px;
}

header .navbar-default {
  padding-top: 10px;
  background-color: transparent;
  border: none;
}

header .navbar-nav li a {
  padding: 15px 15px;
}

header h3 {
  color: white;
  margin-top: 0px;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000;
  display: none;
  color: white;
}
